* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    justify-content: center;
    padding: 40px;
    display: flex;
}

header {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}


button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #45a049;
}



.termosResponsabilidade {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 360px;
}

.termosResponsabilidade p{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.termosCabecalho {
    font-family: Arial, sans-serif;
    text-align: center;

}